{% for version in versions %}{{ package_name }} ({{ version.version_code }}) stable; urgency=medium

  {{ version.changelog }}

 -- {{ maintainer.name }} <{{maintainer.email}}>  {{ version.date }}

{% endfor %}
